<div class="container-fluid">
    <label> Respuestas Posibles </label>
    <input type="text" class="form-control" id="RESPUESTA1"
           placeholder="Escribe la primera respuesta de tu pregunta">
    <br>
    <input type="text" class="form-control" id="RESPUESTA2"
           placeholder="Escribe la segunda respuesta de tu pregunta">
</div>
<br>

<table class="table table-responsive-sm table-hover table-outline">
    <thead class="thead-light">
    <tr>
        <th colspan="4">Posibles respuestas</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Si</td>
        <td>Hombre</td>
        <td>Público</td>
        <td>Aprobado</td>
    </tr>
    <tr>
        <td>No</td>
        <td>Mujer</td>
        <td>Privado</td>
        <td>No Aprobado</td>
    </tr>
    </tbody>
</table>
